.pokebox {
    position: absolute;
    background-color: white;
    left: 20%;
    top: 120px;
    width: 60%;
    min-height: 700px;
    border-radius: 5px;
}

.head {
    position: relative;
    padding: 0.4em;
    margin: 0.5em;
    border-radius: 5px;
    background-color: rgb(231, 195, 195);
    text-align: center;
    min-height: 3em;
}

#playbutton {
    padding: 0.4em 1em;
    background-color: rgb(233, 92, 92);
    color: white;
    font-weight: bolder;
    font-size: 1vw;
    margin-top: 0.2em;
}

#playbutton:hover {
    cursor: pointer;
    background-color: rgb(187, 75, 75);
}

.head .input {
    text-align: center;
}

.head label {
    font-size: 1vw;
    font-weight: bolder;
    margin-left: 0.5em;
}

.head input {
    padding: 0.25em;
    border: none;
    border-radius: 4px;
}

.head .button {
    margin: 0.5em;
    border: none;
    border-radius: 4px;
    padding: 0.25em 1.5em;
    background-color: rgb(233, 92, 92);
}

.head .button:hover {
    cursor: pointer;
    background-color: rgb(187, 75, 75);
}

.head span {
    position: relative;
    float: left;
    margin-top: 0.2em;
    padding: 0.1em;
    font-size: 1.5vw;
    font-weight: bolder;
    user-select: none;
}

.head #points {
    position: relative;
    float: right;
    margin: 0.3em;
    margin-top: 0.5em;
    font-size: 1vw;
    font-weight: bolder;
    user-select: none;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding: 0.2em;
}
  
.grid-item {
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: left;
}