@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* Global */
:root {
    --bg-dark: #1A1A1A;
    --bg-light: #f1f1f1;
    --bg-contrast: #141414;
    --bg-contrast-light: #bdbdbd;
    --font-darkmode-white: #eeeeee;
    --font-lightmode-black: #111;
    --font-darkmode-grey: #8f8f8f;
    --font-lightmode-grey: #8f8f8f;
    --font-highlight-green: #149e52;
    --bg-red: #a33e3e;
}

.bg-dark {
    background-color: var(--bg-dark);
}

.bg-dark-contrast {
    background-color: var(--bg-contrast);
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-light-contrast {
    background-color: var(--bg-contrast-light);
}

.font-darkmode-white {
    color: var(--font-darkmode-white);
}

.font-darkmode-grey {
    color: var(--font-darkmode-grey);
}

.font-lightmode-black {
    color: var(--font-lightmode-black);
}

.font-lightmode-grey {
    color: var(--font-lightmode-grey);
}

.font-highlight {
    color: var(--font-highlight-green);
}

.centered {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--font-darkmode-grey);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #149e52;
}

/* Website */
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}


body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    margin: 0;
    min-height: 100%;
}

/* Background Stars */
.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.background::before {
    background: 
    radial-gradient(
        2400px circle at 0 0,
        rgba(255, 255, 255, 0.02),
        transparent 40%
    ),
    radial-gradient(
        2400px circle at 100vw 100vh,
        rgba(255, 255, 255, 0.02),
        transparent 40%
    );
    
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 0px solid rgba(255, 255, 255, 0.062);
}

.star {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 100%;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}

.star-dark {
    opacity: 0;
}

.star-light {
    opacity: 1.0;
}

/* Cookies */
.cookieDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    width: 40%;
    height: 40%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
}

@media(max-width: 40em) { 
    .cookieDiv {
        width: 80%;
        height: auto;
    }
}

/* General */
.hyperlink {
    text-decoration: none;
    transition: color 0.25s ease;
}

.hyperlink:hover {
    cursor: pointer;
    color: var(--font-highlight-green);
}

.headline-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.text-large {
    font-size: 2rem;
}

.text-small {
    font-size: 0.8rem;
}

.content {
    /* background-color: red; */
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

@media(max-width: 40em) { 
    .content {
        left: 10%;
        width: 80%;
    }
}

.top-section {
    margin-top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    left: 0;
    padding-bottom: 1rem;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
}

.navbar {
    position: relative;
    width: 50%;
    left: 25%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

@media(max-width: 40em) { 
    .navbar {
        width: 90%;
        left: 5%;
    }
}


.navbar-logo {
    margin-left: 1vw;
}

.vertical-seperator {
    border-left: 1px solid #8f8f8f;
    height: 5vh;
    margin-left: 2vw;
}

.horizontal-seperator {
    border-bottom: 1px solid #8f8f8f50;
    width: 80%;
    margin-left: 2vw;
}

.header-list {
    list-style-type: none;
}

.list-item {
    display: inline;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 1vw;
}

@media(max-width: 40em) { 
    .header-list {
        width: 100px;
        padding: 0;
    }
}

.darkmode-icon {
    margin-left: auto;
    margin-right: .5vw;
    float: right;
}

.svg-color-light {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(239deg) brightness(300%) contrast(100%);
}

.svg-color-dark {
    filter: invert(5%) sepia(8%) saturate(15%) hue-rotate(314deg) brightness(87%) contrast(94%);
}

.cursor-pointer:hover {
    cursor: pointer;
}

.underlined {
    padding-bottom: 0.25vh;
    border-bottom: 2px solid #149e52;
}



/* About me Section */
.aboutme-section {
    width: 90%;
    margin-left: 5%;
    padding-top: 2vh;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 4rem;
}

@media(max-width: 40em) { 
    .aboutme-section {
        display: block;
        text-align: center;
    }
}

.image-container {
    position: relative;
    background-image: url("../images/ente.jpg");
    min-width: 300px;
    height: 800px;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
}

.icon-container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: justify;
}

.social-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(239deg) brightness(300%) contrast(100%);
    vertical-align: top;
    display: inline-block;
    margin: 0 0.5vw;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.2);
}

#name {
    color: var(--font-darkmode-white);
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#subtext {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bolder;
    line-height: 24px;
    white-space: nowrap;
}

.text-container {
    position: relative;
    margin-top: 25px;
    height: 760px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
    letter-spacing: 0.5px;
    transition: width 1s;
    animation: widthAnimation ease-in-out 1s;
    width: 650px;
    overflow: auto;
}

@keyframes widthAnimation {
    0% {
        width: 0;
        overflow: hidden;
    }
    100% {
        width: 650px;
        overflow: auto;
    }
}

@media(max-width: 40em) { 
    @keyframes widthAnimation {
        0% {
            width: 0;
            overflow: hidden;
        }
        100% {
            width: 300px;
            overflow: auto;
        }
    }
    

    .text-container {
        width: 300px;
        text-align: center;
    }
}

#headline {
    margin-left: 2vw;
    margin-top: 4vh;
}

@media(max-width: 40em) { 
    #headline {
        padding-top: 4vh;
    }
}

#personal-data {
    margin-top: 3vh;
    margin-left: 2vw;
    font-family: cursive;
    font-style: italic; 
}

.bio-p {
    width: 80%;
    margin-left: 2vw;
    letter-spacing: .05em;
    margin-bottom: 4vh;
    font-size: 1rem;
}

.skill_container {
    margin-left: 1vw;
}

.skill_container span {
    font-weight: 600;
}

@media(max-width: 40em) {
    #bio {
        font-size: 0.9rem;
    }
}

/*** projects.html ***/
.project-section {
    position: relative;
    width: 100%;
    padding-bottom: 8rem;
}

.projects-container {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 160rem;
    overflow: hidden;
}

@media(max-width: 40em) { 
    .projects-container {
        margin: 0;
        overflow: scroll;
    }
}

.item {
    position: relative;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: transform 0.4s;
}

.item:hover {
    transform: scale(1.05);
}

.item::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    opacity: 0;
    border: 0px solid rgba(255, 255, 255, 0.062);
    transition: opacity 0.5s;
    transition: border 0.5s;
}

.item:hover::before {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.062);
}

.item img {
    position: relative;
    object-fit: cover;
    width: 80%;
    left: 10%;
    top: 5%;
    max-height: 50%;
}

.item-info {
    /* background-color: #149e52; */
    justify-content: space-between;
    padding: 0 1rem 1rem 2rem;
    letter-spacing: 0.5px;
}

.item-info > h3 {
    margin: 4vh 0 2vh 0;
}

.item-info > p {
    margin: 0 0 2vh 0;
    font-size: 1rem;
}

.btn-container  {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.button  {
    text-decoration: none;
    border: none;
    color: var(--font-darkmode-white);
    background-color: var(--font-highlight-green);

    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
    font-weight: bold;
    font-size: small;
}

.button.cancel {
    background-color: var(--bg-red);
}

.button.disabled {
    background-color: var(--bg-dark);
    color: rgb(54, 54, 54);
}

.button:hover {
    cursor: pointer;
}

.button.disabled:hover {
    cursor: default;
}



.tag-container  {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--font-highlight-green);
    color: var(--font-darkmode-white);
    padding: 4px 12px;
    margin: 2px;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 0.8rem;
}

.inputfield {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.text-input {
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    width: 60%;
    border-radius: 3px;
}

@media(max-width: 40em) { 
    .text-input {
        width: 100%;
    }
}

.text-input:focus {
    outline: var(--font-highlight-green) solid 2px;
}

/*** contacts.html ***/

.contact-section {
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 8vh;
    display: flex;
    justify-content: center;
}

@media(max-width: 40em) { 
    .contact-section {
        left: 0;
    }
}

.card {
    position: relative;
    height: 250px;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(20, 20, 20);
    transition: transform 0.4s;
}


.card:hover {
    transform: scale(1.05);
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    opacity: 0;
    border: 0px solid rgba(255, 255, 255, 0.062);
    transition: opacity 0.5s;
    transition: border 0.5s;
}

.card:hover::before {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.062);
}

.box-container-top {
    position: absolute;
    width: 100%;
    height: 20%;
}

.box-container-bottom {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.shadow-box-top {
    position: absolute;
    background-color: white;
    opacity: 0.05;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.shadow-box-bottom {
    position: absolute;
    background-color: white;
    opacity: 0.05;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.shadow-box-large {
    width: 50%;
    height: 10px;
    left: 25%;
}

.shadow-box-medium {
    width: 30%;
    height: 20px;
    left: 35%;
}

.shadow-box-small {
    width: 20%;
    height: 30px;
    left: 40%;
}

.card-text-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-vertical {
    position: absolute;
    height: 60%;
    left: calc(50%-1px);
    top: 20%;
    opacity: 0.5;

    border: 1.5px solid;
    border-top: 0;
    border-bottom: 0;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--font-highlight-green) 48%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}

.social-container {
    position: absolute;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.name-container {
    position: absolute;
    left: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.name-container > h2, .name-container > h4 {
    margin: 0;
    margin-left: 7rem;
}

@media(max-width: 40em) { 
    .name-container > h2, .name-container > h4 {
        margin-left: 2rem;
    }

    .social-container > .hyperlink {
        margin-left: 0.4rem;
        font-size: 0.75rem;
    }
}

.social-container > a {
    margin-left: 2.5rem;
}

.social-container > a > svg {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}


@media(max-width: 40em) { 
    .card {
        margin-left: 0;
        width: 300px;
    }
}

/* date.html */
.date-section {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 12rem 4rem;
}

.text-huge {
    font-size: 4.2rem;
    margin: 0;
}