body {
    overflow: hidden;
}

.content {
    width: 80%;
    left: 10%;
}

.pong-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
canvas {
    border-radius: 5px;
    border: 10px solid var(--bg-contrast-light);
}

.controls-left {
    position: absolute;
    left: 0%;
    top: 30%;
}

.controls-right {
    position: absolute;
    right: 0%;
    top: 30%;
}